---
---
@import "{{ site.theme }}";

body{
    background-color: #0e1218;
    color: white;
}

.main-content pre {
    background-color: black;
}
/* Used for the next section*/
$apple-blossom: #ac4142;
$alto: #d0d0d0;
$bouquet: #aa759f;
$chelsea-cucumber: #90a959;
$cod-grey: #151515;
$conifer: #b5e853;
$dove-grey: #666;
$gallery: #eaeaea;
$grey: #888;
$gulf-stream: #75b5aa;
$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;
$silver-chalice: #aaa;


.highlight {

  $plaintext: $alto !default;
  $string: $chelsea-cucumber !default;
  $literal: $chelsea-cucumber !default;
  $keyword: $bouquet !default;
  $error-foreground: $cod-grey !default;
  $error-background: $apple-blossom !default;
  $comment: $grey !default;
  $preprocessor: $rajah !default;
  $name-space: $rajah !default;
  $name-attribute: $hippie-blue !default;
  $operator: $rajah !default;
  $keyword-type: $raw-sienna !default;
  $regex: $gulf-stream !default;
  $string-escape: $potters-clay !default;
  $deleted: $apple-blossom !default;
  $header: $hippie-blue !default;

  color: $plaintext;

  table td { padding: 5px; }
  table pre { margin: 0; }
  .w {
    color: $plaintext;
  }
  .err {
    color: $error-foreground;
    background-color: $error-background;
  }
  .c,  .cd,  .cm,  .c1,  .cs {
    color: $comment;
  }
  .cp {
    color: $preprocessor;
  }
  .o,  .ow {
    color: $operator;
  }
  .p,  .pi {
    color: $plaintext;
  }
  .gi {
    color: $string;
  }
  .gd {
    color: $deleted;
  }
  .gh {
    color: $header;
    font-weight: bold;
  }
  .k,  .kn,  .kp,  .kr,  .kv {
    color: $keyword;
  }
  .kc, .kt, .kd {
      color: $keyword-type;
  }
  .s,  .sb,  .sc,  .sd,  .s2,  .sh,  .sx,  .s1 {
    color: $string;
  }
  .sr {
    color: $regex;
  }
  .si, .se {
    color: $string-escape;
  }
  .nt, .nn,  .nc, .no{
    color: $name-space;
  }
  .na {
    color: $name-attribute;
  }
  .m,  .mf,  .mh,  .mi,  .il,  .mo,  .mb,  .mx {
    color: $literal;
  }
  .ss {
    color: $string;
  }
}

.wrapper {
  border: 1px solid blue;
}
.left {
  float: left;
  width: 100px;
  height: 100px;
  background: red;
  margin: 0 10px 10px 0;
}