---
---
@import "{{ site.theme }}";

/* Sets the background of the site and changes the text color */
body{
    background-color: #0e1218;
    color: white;
}

/* Makes breakout code blocks have black background */
.main-content pre {
    background-color: black;
}

/* Sets the inline-code to have black background and white text */
.main-content code {
  background-color: black;
  color: white;
}

/* Setting variables used by the next section */
.highlight {

  $plaintext: #d0d0d0 !default;
  $string: #82cbcb !default;
  $literal: #6dc56a !default;
  $keyword: hsl(3.8, 100%, 72.4%) !default;
  $error-foreground: #151515 !default;
  $error-background: #ac4142 !default;
  $comment: #888 !default;
  $preprocessor: #f4bf75 !default;
  $name-space: hsl(28.2, 100%, 67.1%) !default;
  $name-attribute: #6a9fb5 !default;
  $system-names: hsl(269, 100%, 82.9%) !default;
  $top-level-name: hsl(210, 17.4%, 82%) !default;
  $operator: hsl(208.2, 100%, 73.7%) !default;
  $keyword-type: #d28445 !default;
  $regex: #75b5aa !default;
  $string-escape: #8f5536 !default;
  $deleted: #ac4142 !default;
  $header: #6a9fb5 !default;
  $variable: #ffa657 !default;

  color: $plaintext;

  table td { padding: 5px; }
  table pre { margin: 0; }
  /* Whitespace */
  .w {
    color: $plaintext;
  }
  /* Error */
  .err {
    color: $error-foreground;
    background-color: $error-background;
  }
  /* Comments */
  .c,  .cd,  .cm,  .c1,  .cs {
    color: $comment;
  }
  .cp {
    color: $preprocessor;
  }
  /* Operator */
  .o,  .ow {
    color: $operator;
  }
  /* Punctuation */
  .p,  .pi {
    color: $plaintext;
  }
  /* Generic */
  .gi {
    color: $string;
  }
  .gd {
    color: $deleted;
  }
  .gh {
    color: $header;
    font-weight: bold;
  }
  /* Keywords */
  .k,  .kn,  .kp,  .kr {
    color: $keyword;
  }
  .kc, .kt, .kd {
      color: $keyword-type;
  }
  /* Variable */
  .kv {
    color: $variable
  }
  /* Strings */
  .s,  .sb,  .sc,  .sd,  .s2,  .sh,  .sx,  .s1 {
    color: $string;
  }
  .sr {
    color: $regex;
  }
  .si, .se {
    color: $string-escape;
  }
  /* Namespaces */
  .nt, .nn,  .nc, .no{
    color: $name-space;
  }
  .n {
    color: $top-level-name;
  }
  .na {
    color: $name-attribute;
  }
  .nb {
    color: $system-names;
  }
  /* Numbers */
  .m,  .mf,  .mh,  .mi,  .il,  .mo,  .mb,  .mx {
    color: $literal;
  }
  /* Symbol */
  .ss {
    color: $string;
  }

}



 /* The sidebar menu */
 .sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 